{% block body %}
	<section class="container m-auto" id="base">
		<div class="lightbox ajust m-auto">

			<form class="p-4 m-auto form-e shadow mt-4 shadow" action="#form-create" method="POST">

				<h3 class="create text-center">Créer un evenement</h3>
				<hr class="hr-color-e">

				<header class="card-header">
					<img src="assets/img/avatar.png" class="rounded-circle" alt="avatar">
				</header>

				<div class="form-group mt-2">
					<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Décris ton Meeting $Pseudo ! " rows="5"></textarea>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
                    <label class="lightbox-label">Catégorie</label>
						<select class="form-control" id="exampleFormControlSelect1" re>
							<option>Sport</option>
							<option>Culture</option>
							<option>Nature</option>
							<option>Sortie soirée</option>
							<option>Jeux & divertissements</option>
						</select>
					</div>
					<div class="form-group col-md-4">
                    <label class="lightbox-label">Sous-catégorie</label>
						<select class="form-control" id="exampleFormControlSelect1" required>
							<option>Foot</option>
							<option>Tennis</option>
							<option>Beach Volley</option>
							<option>Natation</option>
							<option>Pétanque</option>
						</select>
					</div>
					<div class="form-group">
						<label class="lightbox-label">Nombre de participants Max</label>
						<select class="form-control" id="FormControlSelect1">
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
                            <option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>

					<div class="form-row">
						<div class="form-group col-md-9">
							<input type="text" class="form-control" id="inputAddress" placeholder="Où se passe ton Meeting ?">
						</div>
						<div class="form-group col-md-3">
							<input type="date" class="form-control" id="date/heure">
						</div>
                        <div class="form-group col-md-3">
							<input type="time" class="form-control" id="date/heure">
						</div>
					</div>

					<button type="submit" class="btn btn-color-e shadow btn-lg btn-block">Publier</button>
					<input type="hidden" name="formIdentifiant" value="">

<div class="col text-center">
					<button class="btn btn-danger button-close mt-2">Fermer</button>
                    </div>

				</form><br>

			</div>
		</div>
	</section>
{% endblock %}
