{% block body %}
	{% if app.user %}
		<section id="valider-inscription" >
    		<i class="fas fa-times-circle text-white btn align-self-end"></i>
			<p class="text-white text-center mt-4 mb-4">Merci {{app.user.pseudo}} de valider pour participer à ce meeting</p>
			{{ form_start(formInscrits) }}
    			<button class="btn btn-success text-uppercase">{{ button_label|default('Valider participation') }}</button>
			{{ form_end(formInscrits) }}
		</section>
	{% endif %}
{% endblock %}