{% extends 'base.html.twig' %}

{% block title %}Hello MeetingController!{% endblock %}

{% block stylesheets %}
  <!-- LEAFLET -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
        <link rel="stylesheet" href="{{ asset('assets/css/MeetingStyle.css') }} ">
{% endblock %}

{% block body %}

 <div id="mapid"></div>
 <div class="w-100 d-flex m-3 justify-content-center">
<a class="btn btn-info mr-2" href="{{ path('accueil') }}">Retour à l'accueil</a>
<a class="btn btn-primary creer-meeting" href="#">Creer un Meeting</a>
 </div>

<section>
 <div class="lightbox active">
  
</div>


</div>
</section>
{% endblock %}

{% block javascripts %}
  <!-- LEAFLET -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
 <script src="{{ asset('assets/js/meeting.js') }}"></script>
 {% endblock %}
  
