{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/connexionStyle.css') }} ">
{% endblock %}

{% block header %} 
 <header>
            <nav class="d-flex flex-row justify-content-center">
                <a class="p-2 navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
                <a class="button-inscription btn p-4 align-self-center nav-link m-2 mr-5 " href="{{ path('inscription') }}">S'inscrire !</a>
                <a class="button-connexion btn p-2 align-self-center m-2 mr-5" href="#">Meeting en cours</a>
            </nav>
</header>
 {% endblock %}

{% block body %}
<section id="base" >

    <div class="ajust m-auto">

        <form class="p-4 mr-auto w--d bgc-form shadow" action="#form-create" method="POST">
    
            <h3 class="text-center">Connexion</h3>

            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="" name="email" required placeholder="mon@mail.me">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1"></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mot de passe">
            </div><br>
    
            <button type="submit" class="btn btn-color shadow btn-lg btn-block">Se connecter</button>
            <input type="hidden" name="formIdentifiant" value="">
    
        </form><br>
        <img src="assets/img/image-inscription2.png" class="mt-2" alt="illustration">
    </div>
    
</section>

<<<<<<< HEAD
=======
<section class="container m-auto" id="base" >

    <div class="ajust m-auto">

        <form class="p-4 mr-auto wd-e bgc-form-e shadow mt-5" action="#form-create" method="POST">
    
            <h3 class="text-center">Crée un evenement</h3>
            <hr class="hr-color-e">

            <p>PSEUDO</p>

            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Décrivez votre evenement 'PSEUDO' " rows="5"></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>sport</option>
                        <option>culture</option>
                        <option>sortie</option>
                        <option>game</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>foot</option>
                        <option>tenis</option>
                        <option>volley</option>
                        <option>baby foot</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option></option>
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="date" placeholder="date">
                </div>
            </div>

            <div class="form-group">
                <input type="file" class="form-control-file">
                <i class="fas fa-images"></i>
            </div>
    
            <button type="submit" class="btn btn-color-e shadow btn-lg btn-block">Publier</button>
            <input type="hidden" name="formIdentifiant" value="">
    
        </form><br>

    </div>
    
</section>


>>>>>>> 9f46ba7bec1941865d1fad217e9d7b436dbbea53

{% endblock %}
