{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/connexionStyle.css') }} ">
{% endblock %}
{# {% block header %}{% endblock %} #}
{% block body %}
<style>

</style>

<section class="container m-auto" id="base" >
    <img src="assets/img/logo.png" alt="logo" class="mt-2">

    <div class="ajust m-auto ">
        <form class="p-4 mr-auto w--d bgc-form shadow" action="#form-create" method="POST">
    
            <h3>connexion</h3>

            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="" name="email" required placeholder="mon@mail.me">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1"></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mot de passe">
            </div>
    
            <button type="submit" class="btn btn-color shadow btn-lg btn-block">se conneter</button>
            <input type="hidden" name="formIdentifiant" value="">
    
        </form><br>
    </div>
    <img src="assets/img/image-inscription2.png" alt="illustration" class="mt-2">
</section>

{% endblock %}
