{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
	<!-- MON CSS -->
	<link rel="stylesheet" href="{{ asset('assets/css/profilStyle.css') }} ">
{% endblock %}

{% block header %}
	<header>
		<nav class="d-flex flex-row justify-content-center">
			<a class="p-2 navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
			<a class="button-deconnexion btn p-4 align-self-center nav-link m-2 mr-5 " href="{{ path('app_logout') }}"> 
            Se déconnecter <i class="fas fa-sign-out-alt"></i></a>
		</nav>
	</header>
{% endblock %}

{% block body %}

<div id="modif_class1" class="information">

    <div class="profil bar-profil">
        <img src="assets/img/avatar.png" class="profil-avatar" alt="avatar">
        <div class="pseudo">$pseudo</div>
        <div class="ita">Nom Prenom</div>
        <div class="ita">$age</div>
        <div class="ita">Marseille 13013</div>
    </div>
    <nav class="bg" >
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active pad" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mes Meetings</a>
            <a class="nav-item nav-link pad2" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mes Informations</a>
        </div>
    </nav>
    <hr>
    <div class="tab-content marge-body" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div>
                <h2>Notre code meet</h2>
            </div> 
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        
            <div>
                <h2>Notre code info</h2>
            </div>
        </div>

    </div>

</div>
<hr>


{% endblock %}
