
h1 {
    color:blue;
    font-family: 'Coiny', cursive !important;
}

h2 {
    color: white;
    font-family: 'Coiny', cursive !important;
}



header img {
    width: 150px;
    height: 7vh;
}

.navlogo {
    margin-left: 10px;
    margin-right: auto;

}
.description img {
    width: 120px;
    height: 50px;
    }

.description {
        font-family: 'Baloo Thambi 2', cursive;
        font-weight: 400;
        background-color: #5271FF;
        color: white;
        width: 100%;
        height: 20vh;
    }

.ccm {
      background-color:  #38B6FF;
    }

.slideshow {
    background-image: url("../img/slideshow1.jpg");
    background-size: cover;
    width: 100%;
    height: 73vh;
}