
h1 {
    color:blue;
    font-family: 'Coiny', cursive !important;
}

header img {
    width: 150px;
    height: 80px;
}

.navlogo {
    margin-left: 10px;
    margin-right: auto;

}
.description img {
    width: 150px;
    height: 80px;
    }

.description {
        background-color: #5271FF;
        width: 100%;
    }

.ccm {
      background-color:  #38B6FF;
    }
