
h1 {
    color:blue;
    font-family: 'Coiny', cursive !important;
}

h2 {
    color: white;
    font-family: 'Coiny', cursive !important;
}


header{
  position: absolute;
}

header img {
    width: 150px;
    height: auto;
}

.navlogo {
    margin-left: 10px;
    margin-right: auto;

}
.description img {
    width: 150px;
    height: 80px;
    }

.description {
        font-family: 'Baloo Thambi 2', cursive;
        font-weight: bold;
        background-color: #5271FF;
        color: white;
        width: 100%;
        height: 20vh;
    }

    #fonctionnement {
        background-color:  #38B6FF;
        padding: 10px 80px;
    }

    #fonctionnement img {
    width: 150px;
    height: 150px;
    }


.slideshow {
    background-image: url("../img/slideshow1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.etape1, .etape2, .etape3 {
    text-align:center;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 20%; /* changer sa */
}

.number {
    width: 35px;
    height: 35px;
    margin: auto;
    font-size: 35px;
    color: #5271FF;
    margin-bottom: 25px;

}

i {
    color: #5271FF;
}

.btn {
    background-color: #5271FF;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin-bottom: 20px;
    height: 70px;
    align-items: center;
    justify-content: center; 
}

.btn:hover {
  background-color: #13dcfb;
  color: white;
}


.ccf {
  color: #5271FF;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  font-size: 20px;
}

.ccf:hover {
  text-decoration: none;
  color:#13dcfb;
}

.button-connexion {
  background-color: #5abffa;
  color: white;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  height: 60px;
  width: 300px;
  margin-bottom: 20px;
  align-items: center; /* changer sa*/
  justify-content: center; 
}

.button-inscription {
  background-color: #5271FF;
  color: white;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  width: 300px;
  height: 60px;
  margin-bottom: 20px;
  align-items: center; /* changer sa*/
  justify-content: center; 
}  

.button-connexion:hover {
  background-color: #13dcfb;
  color: white;
}

.button-inscription:hover {
  background-color: #13dcfb;
  color: white;
}