* {
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive !important;
}

h1{
    color: black;
}

div form.bgc-form{
    background-color: #5271fe;
}

.btn-color{
    background-color:  #37b6ff;
    color: white;
    text-decoration: none;
}

h3 {
    font-weight: bold;
    color: white;
}

form.w--d{
    max-width: 80%;
    margin-left: 10%;
}
#base{
    margin: 0 auto;
    width: max-content;
}

form{
    border-radius: 3%;
}

img.mt-2.c--img {
    width: 90%;
}

div img.ml{
    margin-left: 45px;
}
.ccf {
    color: #5271FF;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
  }
  
  .ccf:hover {
    text-decoration: none;
    color:#13dcfb;
  }

  .button-inscription {
    background-color: #5271FF;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    align-items: center; /* changer sa*/
    justify-content: center; 
  }  


  .button-inscription:hover {
    background-color: #13dcfb;
    color: white;
  }