* {
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive ;
}


h1{
    color: black;
}

div form.bgc-form{
    background-color: #5271fe;
}

.btn-color{
    background-color:  #37b6ff;
    color: white;
    text-decoration: none;
}

h3 {
    font-weight: bold;
    color: white;
}

header img {
    width: 150px;
    height: auto;
}

.navlogo {
    margin-left: 10px;
    margin-right: auto;

}

form.w--d{
    max-width: 35%;
    /* margin-left: 10%; */
}

#base {
    margin: 100px auto 0 auto;
    width: max-content;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

form{
    border-radius: 3%;
    color: white;
}

img.jc {
    margin: 0 29% 2%;
}

.cache{
    display: none;
}



.ccf {
    color: #5271FF;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
  }
  
  .ccf:hover {
    text-decoration: none;
    color:#13dcfb;
  }
  
  .button-connexion {
    background-color: #5abffa;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    height: 60px;
    width: 300px;
    margin-bottom: 20px;
    align-items: center; /* changer sa*/
    justify-content: center; 
  }
  
  .button-inscription {
    background-color: #5271FF;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    width: 300px;
    height: 60px;
    margin-bottom: 20px;
    align-items: center; /* changer sa*/
    justify-content: center; 
  }  
  
  .button-connexion:hover {
    background-color: #13dcfb;
    color: white;
  }

  .button-inscription:hover {
    background-color: #13dcfb;
    color: white;
  }
