* {
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive !important;
}

h1{
    font-family: 'Coiny', cursive !important;
}

header{
    width: 100%;
    height:50px;
}

footer{
    width: 100%;
    height:50px;
    background-color: #5271ff;
    color:white;
}

label> input{
    width: 100%;
    /* width: 60%; */
    border: none;
    border-bottom: 1.5px solid #5271ff;
    color: #5271fe;
    margin-bottom: 1rem;
}
form > button{
    width:50%;
    margin: auto !important;
    border-radius: 10px;
    background-color: #5271ff;
    /* opacity: 0.9; */
    color: white;
    cursor: pointer;
}
/* form > label{
    text-align: center;
} */
#dropdownCategorieButton{
    background-color: transparent;
    /* opacity: 0.8; */
    color: #5271ff;
    border: 1.5px solid #5271ff !important;
}
.m-autol{
    margin: 0 auto;
}
img{
    display: block;
    margin: 0 auto;
}
/* COLOR */

.color-1{
    color:  #5271ff;
}
.color-2{
    color:  #37b6ff;
}
.color-3{
    color: #fe66c3;
}

#base{
    margin: 0 auto;
    width: max-content;
}
/* STYLE */

.display-5{
    font-size: 2rem;
}
.display-6{
    font-size: 1.3rem;
}


.ccf {
    color: #5271FF;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
  }
  
  .ccf:hover {
    text-decoration: none;
    color:#5abffa;
  }

  .button-connexion {
    background-color: #5abffa;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    height: 60px;
    width: 300px;
    margin-bottom: 20px;
    align-items: center; /* changer sa*/
    justify-content: center; 
  }
  
  .button-connexion:hover {
    background-color: #13dcfb;
    color: white;
  }
  
  