#mapid { 
    z-index: 0;
    height: 80vh;
    width: 100vw;

}

.lightbox {
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.active {
    top: 0 !important;
}

.form-e {
    background-color: #5271FF;
    margin-top: 10%;
    max-width: 55%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-color-e{
    background-color:#13dcfb;
    color: white;
}

.btn-color-e:hover{
    background-color:#13dcfb;
    color: white;
    animation: pulse1 0.7s infinite;
}

.create {
    color: white;
    font-family: 'Coiny', cursive !important;
}

.lightbox-label {
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
}

.hr-color-e{
    background-color: rgb(121, 121, 121);
}

.card-header{
    padding: 10px;
    position: relative;
}
.card-header-avatar{
    padding-left:65px ;
}

.card-avatar{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 10px;
}

.card-pseudo{
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin: 5px 0;
}

.card-date{
    color: #808080;
    font-size: 12px;
}

.cache{
    display: none;
}

#base {
    margin: 100px auto 0 auto;
    width: max-content;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.container{
    padding: 0 15px;
    max-width: 1080px;
    margin: 0 auto;
} 

.sidebar {
    background: #f5f4f4;
    height: 250px;
}

.aside {
    background: #f5f4f4;
    height: 250px;
}

.basse {
    display: flex;
}

.sidebar {
    flex: none;
    width: 300px;
}

.main {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.aside {
    flex: none;
    width: 390px;
}

/* CARD ACTUS */

.text-color {
    color: rgb(121, 121, 121);
}

.card {
    margin-bottom: 15px;
}

.card-body {
    padding: 10px 4px 20px 5px;
    background: #f5f4f4;
}

.card-body .largetotal {
    width: calc(100% + 10px);
    display: block;
    margin: 10px -6px 10px;
}

.card-footer {
    display: flex;
    padding: 10px;
}

.card-like::before,
.card-rejoindre {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.card-rejoindre {
    margin-left: auto;
}
