#mapid { 
    z-index: 0;
    height: 80vh;
    width: 100%;

}

.create {
    color: white;
    font-family: 'Coiny', cursive !important;
}

header {
    position: absolute;
    z-index: 9;
  }

header img {
  margin-left: 30px;
  opacity: 0.7;
  }

.button-connexion {
    background-color: #5abffa;
    color: white;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    height: 50px;
    max-width: 300px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .button-inscription {
    background-color: #5271ff;
    color: white !important;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    max-width: 300px;
    height: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .button-connexion:hover {
    background-color: #13dcfb;
    color: white;
    animation: pulse1 0.7s infinite;
  }
  
  .button-inscription:hover {
    background-color: #13dcfb;
    color: white;
    animation: pulse1 0.7s infinite;
  }

.lightbox-creerMeeting {
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.lightbox-label {
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
}
.fa-calendar-alt, .fa-map-marker-alt, .fa-users{
  color: #3356f0;
}
.btn-map{
  min-width: 200px;
  font-size: 20px;
}
h3{
  font-size: 45px !important;
  font-family: "Baloo Thambi 2", cursive;
}

h5 {
    font-family: "Baloo Thambi 2", cursive;
    color: white;
    line-height: 1.5 !important;

}

.modal-content {
    font-family: "Baloo Thambi 2", cursive;
    color: white;
}

.modal-header, .modal-body, .modal-footer {
    background-color: #5271ff;
}

#valider {
    font-family: "Coiny", cursive;
    font-weight: normal;
    color: white;  
    background-color: #13dcfb;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    width: 200px;
}
form[name="inscrits"]{
  align-self: center;
  align-items: flex-end;
}
#valider:hover {
  background-color: #13dcfb;
  color: white;
  animation: pulse1 0.7s infinite;
}

.avatar {
    height: 100px;
    width: 120px;
    margin: 0 0 20px 165px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.titre-meeting {
    width: 100%;
    font-family: "Coiny", cursive;
    font-size: 25px;
    color: white;
    margin-left: 80px;
    
}

.places {
  color: #10c90d;
}

.modal-dialog{
  margin: 60px auto !important;
}

.container{
  padding: 0 15px !important;
  min-width: 600px;
  margin: 0 auto;
} 

.photo-meeting{
  width: 200px;
  min-height: 180px;
  height: auto;
}
.card header{
  background-color: #5271ff;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #5271ff;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}
.card-body{
  background-color: rgba(252, 252, 252, 0.144);
}
.card{
  border: 1px solid #5271ff;
  border-radius: 8px;
}
.card-footer{
  background-color: #5271ff;
  border-radius: 0 0 5px 5px !important;
}
.card-body p{
  font-size: 20px;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: normal;
  margin-bottom: 0 !important;
  color: #5271ff;
  width: 100%;
}
.modal-title{
  font-size: 25px;
}
.modal-body{
  font-size: 20px;
  font-family: "Baloo Thambi 2", cursive;
}

/* CARD ACTUS */

.card-footer {
    padding: 10px;
    height: 60px;
}

.color2{
  color: #13dcfb !important;
}
.display-popup{
  font-size: 18px;
}

/* LIGHTBOX VALIDER INSCRIPTION */
#valider-inscription{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 35%;
  left: 35%;
  z-index: 20;
  visibility: hidden;
  width: 30%;
  height: auto;
  background-color: #5271ff;
  border-radius: 3px;
  padding: 5px;
}

#valider-inscription.active {
  animation: 1s fadeInValider;
  animation-fill-mode: forwards;
}
@keyframes fadeInValider {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0.97;
  }
}
form[name="inscrits"] {
  align-self: center;
  margin-bottom: 10px;
}
#valider-inscription p{
  font-size: 20px;
}
#valider-inscription button{
  font-size: 20px;
}
.form-group{
  margin-bottom: 0;
}
/* /////////////////// */

.btn-map {
  background-color: #1a44ff;
  color: white;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  width: 350px;
  height: 60px;
  max-width: 500px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.btn-map:hover {
  background-color: #06ecf4;
  animation: pulse1 0.7s infinite;
  color: white;
}

.btn-mm {
  background-color: #06ecf4;
  color: white;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  width: 300px;
  height: 60px;
  max-width: 500px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

}

.btn-mm:hover {
  background-color: #06ecf4;
  animation: pulse1 0.7s infinite;
  color: white;
}

.btn-details {
  background-color: #26d1f7;
  color: white;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  height: 40px;
  max-width: 300px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

}

.btn-details:hover {
  background-color: #06ecf4;
  animation: pulse1 0.7s infinite;
  color: white;
}

.a-venir {
  color: white;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: bold;
  font-size: 40px;
  margin: 80px 80px 80px 80px;
  text-align: center;
}

.a-venir:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;    
}
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.btn-join {
  background-color: #04a92b;
  color: white;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  height: 40px;
  max-width: 300px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.btn-join:hover {
  background-color: #06e039;
  animation: pulse1 0.7s infinite;
  color: white;
}

/* POPUP LEAFLET */
.header-popup{
  background-color: #5271ff;
  border-radius: 5px 5px 0 0;
  padding: 5px !important;
}

.body-popup{
  background-color: white;
  color: #5271ff;
  padding: 15px;
}

.footer-popup{
  background-color: #5271ff;
  color:white;
  border-radius: 0 0 5px 5px;
  padding: 10px;
}

.leaflet-popup-content-wrapper{
  background-color: #1a44ff;
  padding: 10px;
  color: white;
  opacity: 0.95;
  padding: 0;
  border-radius: 5px;
}

.leaflet-popup-content{
margin: 0;
width: 350px !important;
}

.leaflet-popup-content-wrapper p{
  font-size: 18px;
  margin: 0;
}
.leaflet-popup-content-wrapper p span{
  font-size: 18px;
  margin-right: 5px;
  text-transform: lowercase;
  opacity: 0.8;
}

/* FORMULAIRE RECHERCHE PAR CATEGORIE */
form[name="search"] {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-left: 20px;
  width: 200px;

}
#search_categorie{
  color: white;
  height: 30px;
  padding: 0;
  text-align: center;
  border: 1px solid white;
  background-color: transparent;
}
form[name="search"] button{
  height: 30px;
  padding: 0 10px 3px 10px;
  margin-left: 10px;
}
#search_categorie option{
  color: white;
  background-color: #585fff;
}


/* MEDIA QUERIES */
@media screen and (max-width : 765px) {
  .card-footer a, .card-footer button{
    min-width: 100px;
    font-size: 13px !important;
    padding: 10px;
  }
  .titre-meeting{
    font-size: 28px;
  }
  .card-body p{
    font-size: 20px;
    margin-top: 10px;
  }
  .card > hr{
    margin: 0!important;
  }
  h3{
    font-size: 38px !important;
    margin-left: 5px ;
    margin-right: 5px ;
  }
  .btn-map{
    min-width: auto;
    font-size: 16px;
  }
  .container{
    padding: 0 15px !important;
    min-width: auto;
    /* max-width: 420px; */
    margin: 0 auto;
  } 
  .card{
    /* padding: 0 15px !important; */
    max-width: 330px;
    margin: 0 auto;
  }
  .a-venir{
    margin: 40px 35px 50px 35px;
  }
  #valider-inscription{
    left: 15% !important;
    width: 70% !important;
  }
  #valider-inscription p, #valider-inscription button{
    font-size: 16px;
  }
  .modal-dialog{
    width: 90%;
    height: 90%;
    margin-left: 5%;
  }
  .category{
    font-size: 18px;
  }
  .btn-map, .btn-mm{
    font-size: 17px !important;
    width: 220px;
    height: 50px;
    max-width: 500px;
    margin-bottom: 0 !important;
    line-height: 1.2;
  }
  .fa-plus-square{
    font-size: 20px !important;
  }
  .leaflet-popup-content{
    margin: 0;
    width: 250px !important;
    }
}
@media screen and (max-width : 990px) {
  #valider-inscription{
    left: 25%;
    width: 50%;
  }

}
@media screen and (min-width : 1550px) {
  #valider-inscription p{
    font-size: 26px;
    margin-bottom: 40px !important;
  }
}

