body {
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive !important;
background-image: url("../img/background-bleu.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.formulaire{
  color: white;
  max-width: 300px;

  width: 80%;
    border: 0;
    border-bottom: 1px solid white;
}


.form-check{
  padding-left: 2rem;
  color: white;
}
.form-control::placeholder {
color: white;
}

h1{
    font-family: 'Nunito', sans-serif !important;
    transition: 3s; /* TEMPS POUR PASSER DE 0 A 1 EN OPACITE*/
}

h2 {
    font-family: 'coiny';
    text-align: center;
    color:white;
}

/* HEADER */

.icone-fire{
    width: 30px;
}


.button-connexion {
    background-color: #5abffa;
    color: white;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    max-width: 300px;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
  }
  
  .hamburger {
    color: white;
  }
  
  .button-meeting {
    background-color: #5abffa;
    color: white;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    max-width: 300px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  
  
  .button-meeting:hover {
    background-color: #13dcfb;
    color: white;
    animation: pulse1 0.7s infinite;
  }
  
  .button-connexion:hover {
    background-color: #13dcfb;
    color: white;
    animation: pulse1 0.7s infinite;
  }


  .aside img {
width: 350px;
height: 350px;
margin-left: 20px;
  }


 .btn:hover {
      background-color: #13dcfb;
      color: white;
      animation: pulse1 0.7s infinite;
    }

@media screen and (max-width: 700px){

}


.inscription2 {
  color: white;
    font-family: "Baloo Thambi 2", cursive;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center;
}
