body {
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive !important;
background-image: url("../img/background-bleu.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


h2 {
  font-family: 'coiny';
  text-align: center;
  color:white;
}
h3{
  margin-top : 60px !important;
}
a{
  text-decoration:underline;
}

.logo-connexion {
  width: 300px;
  height: 180px;
  margin-bottom: 50px;
  margin-left: 50px;
}
#base_inscription{
  min-height: 80vh;
}

#container {
  width: 100%;
  max-width: none;
  height: 100%;
  padding-right: 50px;
  padding-left: 100px;
  margin: 50px 0;
}

.formulaire{
  max-width: 400px ;
}

.aside {
  max-width: 500px;
}
.aside img {
  width: 80%;
  margin-left: 10%;
}


/* FORMULAIRE INSCRIPTION */
.form-control {
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid white;
}
.formulaire button{
  background-color: #5271ff;
  color: white;
  max-width: 300px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: #13dcfb;
  color: white;
  animation: pulse1 0.7s infinite;
}

#registration_form_sexe{
  margin-top: 0 !important;
}

.form-check{
  padding-left: 2rem;
  color: white;
}

.form-control::placeholder {
color: white;
}

.formulaire p{
  font-size: 20px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 590px){
  #container{
    margin: 100px 0 50px 0 !important;
  }
  .formulaire p{
    margin-bottom: 10px;
  }
  h3{
    font-size: 20px;
    margin-bottom: 0 !important;    
  }
}

@media screen and  (max-width: 1050px){
  .aside {
    max-width: 300px;
  }
  .aside img {
    width: 80%;
    margin-left: 10%;
  }
  #container {
    width: 100%;
    max-width: none;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 50px 0;
  }
  .formulaire{
    max-width: 250px ;
  }
  .formulaire button{
    font-size: 16px;
    height: auto;
    margin-top:10px;
  }
}

@media screen and (min-width: 1400px){
  .aside {
    max-width: 700px;
  }
  .formulaire{
    margin-left:100px;
  } 
}
