body {
    width: 100% !important;
    background-image: url("../img/background-bleu.jpg");
    background-size: cover;
  background-position: center;
}

h1{
    color:red;
    font-family: 'Coiny', cursive !important;
}
header{
    /* height: 15vh; */
}

header img {
    width: 150px;
    height: auto;
}
.logo-inscription{
    width: 175px;
    height: auto;
}
.navlogo {
    margin-left: 10px;
    margin-right: auto;

}


img.profil-avatar-accueil {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

img.profil-avatar-map {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 5px;
  }

@keyframes pulse1 { /* POUR PULSER COMMENT CA FONCTIONNE HOVER */
    0% {
        transform: scale(1, 1);
    }
  
    50% {
        transform: scale(1.05, 1.05);
    }
  
    100% {
        transform: scale(1, 1);
    }
  }
#btn-inscription_meeting{
    opacity: 0.85 !important;
    cursor: pointer;
}
.color-1{
    color:  #5271ff;
}
.color-2{
    color:  #5abffa;
}
.color-3{
    color:  #ee57fc;
}
.bg-1{
    background-color:  #5271ff !important;
}
.color-2{
    color:  #5abffa;
}

.display-5{
    font-size: 20px;
  }
