body {
    width: 100% !important;
}

h1{
    color:red;
    font-family: 'Coiny', cursive !important;
}
header{
    height: 10vh;
}

header img {
    width: 150px;
    height: auto;
}
.navlogo {
    margin-left: 10px;
    margin-right: auto;

}
footer{
    width: 100%;
    height: 50px;
    background-color: #5271FF;
}
.scrollTop{
    position: relative;
    display: flex;
    bottom: -30px;
    background-color: transparent;
    margin-right: 20px;
    margin-left: auto;
    animation: all 1s ease-in-out 0s;
    cursor: pointer;
}
.background-scrolltop{
    background-color: #38B6FF;
}

img.profil-avatar-map {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 5px;
  }

@keyframes pulse1 { /* POUR PULSER COMMENT CA FONCTIONNE HOVER */
    0% {
        transform: scale(1, 1);
    }
  
    50% {
        transform: scale(1.05, 1.05);
    }
  
    100% {
        transform: scale(1, 1);
    }
  }