<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="1_reset.css">
  <link rel="stylesheet" href="2_normalize.css">
  <link rel="stylesheet" href="style.css">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<header>
  <p class="text-center">HEADER</p>
</header>
<body>
  <h1 class="color-1 text-uppercase text-center display-3 font-weight-bold">rejoins-nous !</h1>
  <div id="base">

    <div class="d-flex flex-row">
      <p class="color-2 mr-5 display-5">Je suis ...</p>
      <input type="radio" id="sexe" name="drone" value="homme" class="bouttonsexe mr-3 mb-2" checked>
      <label for="homme" class="display-6 mr-3 color-1 align-self-center">un homme</label>
      <input type="radio" id="sexe" name="drone" value="femme" class="bouttonsexe mr-3  mb-2">
      <label for="femme" class="display-6 mr-3 color-3 align-self-center">une femme</label>
    </div>

    <div class="d-flex flex-row">
      <p class="color-2 mr-5 display-5">J'aime ...</p>
      <div class="dropdown mt-2">
        <button class="btn dropdown-toggle font-weight-bold" type="button" id="dropdownCategorieButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catégories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!-- <li><a class="dropdown-item" href="#">Sport</a></li> -->
          <div class="ml-3">
          <input type="checkbox" class="bouttonsexe mr-3 " id="sport">
          <label for="homme" class="mr-3 color-1">Sport</label>
        </div>
          <div class="ml-3">
          <input type="checkbox" class="bouttonsexe mr-3 " id="culture">
          <label for="homme" class="mr-3 color-1">Culture</label>
        </div>
          <div class="ml-3">
          <input type="checkbox" class="bouttonsexe mr-3 " id="nature">
          <label for="homme" class="mr-3 color-1">Nature</label>
        </div>
          <div class="ml-3">
          <input type="checkbox" class="bouttonsexe mr-3 " id="sortie">
          <label for="homme" class="mr-3 color-1">Sortie</label>
        </div>
          <div class="ml-3">
          <input type="checkbox" class="bouttonsexe mr-3 " id="jeux">
          <label for="homme" class="mr-3 color-1">Jeux</label>
        </div>
          <div class="ml-3">
          <input type="checkbox" class="bouttonsexe mr-3 " id="gastronomie">
          <label for="homme" class="mr-3 color-1">Gastronomie</label>
        </div>
        <button class="btn-success d-block m-auto">Valider</button>
        <input type="hidden" name="formCategorie" value="categorie">
        </div>
      </div>
    </div>

    <form method="POST" action="#form-create" id="form-create" enctype="multipart/form-data"
      class="d-flex flex-column mt-3">
      <label>
        <input type="text" name="nom" required placeholder="Nom complet" maxlength="160">
      </label>
      <label>
        <input type="email" name="email" required placeholder="Email" maxlength="160">
      </label>
      <label>
        <input type="number" name="age" required placeholder="Age" min="10" max="100">
      </label>
      <label>
        <input type="text" name="pseudo" required placeholder="Pseudo" maxlength="160">
      </label>
      <label>
        <input type="password" name="motDePasse" required placeholder="Mot de passe" maxlength="160">
      </label>
      <button type="submit">CREER VOTRE COMPTE</button>
      <!-- PARTIE TECHNIQUE -->
      <input type="hidden" name="formIdentifiant" value="user">
      <div>
        <?php require_once "php/controller/traitement-user.php" ?>
      </div>
    </form>

  </div>
  <img src="assets/img/image-inscription2.png" alt="#" class="mt-2">

  <footer>
    <p class="text-center">FOOTER</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous">
  </script>
</body>

</html>